version: "3.9"

services:
  server:
    build: ./server
    container_name: springboot-server
    ports:
      - "4100:4100"
    networks:
      - fullstack-net
    restart: unless-stopped

  client:
    build: ./client/myapp
    container_name: react-client-spring
    ports:
      - "7001:6000"
    networks:
      - fullstack-net
    depends_on:
      - server
    restart: unless-stopped

networks:
  fullstack-net:
    driver: bridge
